html{
  background-color: #Dcd0c0
}
/*page is a basic grid structure: header, content, footer.*/
body {
  display:grid;
  grid-template-areas:
    "nav nav nav"
    "header header header"
    "content content content"
    "footer footer footer";
  grid-template-rows: auto auto 1fr auto;
  grid-template-columns: 100%;
  grid-row-gap: 0em;
  grid-column-gap: 0em;
  margin: 0px;
}

/*formatting the horizontal navbar that will be in the header grid area. QUESTION: can I get the buttons to snap to the top of the page? there is currently deadspace between buttons and top of header grid area*/
ul {
  list-style-type: none;
  margin-top: 0px;
  margin-bottom: 0px;
  padding: 0;
  overflow: hidden;
  background-color: inherit;
  font-size: 1em;
}

li {
  float: left;
}

li a {
  display: block;
  color: #Dcd0c0;
  text-align: center;
  text-decoration: none;
  padding: 20px 30px;
}
/*create the class 'active' and assign it to whatever page we're on, so link will stay this color; */
.visited {
  background-color: #c0B283;
  color: #373737;
}
/*when hovered over, buttons turn to BG color*/
li a:hover:not(.visited) {
  background-color: #f4f4f4;
  color: #373737;
}


#pageheader {
  grid-area: header;
}

#content{
  grid-area: content;
}

#footer {
  grid-area: footer;
}

#navbar {
  grid-area: nav;
}

nav {
  background-color: #373737;
  text-align:center;
  color: #Dcd0c0;
  font-family: Arvo;
  font-size: 18px;
  width: 100%;
    @mobile {
      font-size:16px
  }
}

header {
  background-color: #c0B283;
  text-align:center;
  color: #373737;
  font-family: Arvo;
  font-size: 1em;
  height: 1.5em;
}

content {
  padding: 2em;
  background-color: #f4f4f4;
  margin-left: 2.5%
  margin-right: 2.5%;
  font-family: Old Standard TT;
}

footer {
  background-color:#c0B283;
  font-family: Old Standard TT;
  color: #373737;
  font-size: 1em;
}

h1, h2, p {
  margin-left: 5%;
  margin-right: 5%;
}

h1 {
  color:inherit;
  font-family: Arvo;
  font-weight: bold;
  font-size: 2em;
}

h2 {
  color:inherit;
  font-family: Arvo;
  font-size: 1.5em
}


.fa {
    padding: 20px;
    font-size: 30px;
    width: 20px;
    text-decoration: none;
    background: #373737;
    color: #f4f4f4;
    text-align: center;
  }

  .fa:hover {
    color: #373737;
    background-color: #c0B283
  }


/*for smartphones: shrink content margins and padding on buttons to keep them inline*/
@media screen and (max-width: 700px) {
  body {
    grid-template-areas:
      "header"
      "content"
      "footer"
    grid-template-rows: 80px 1fr 150px;
  }

  content {
    margin-left: 2%;
    margin-right: 2%;
    padding: none;
  }

  li a {
    padding: 20px 30px;
    font-size: 16px;
  }
  
 .fa {
  width: 40px;
  height: 20px;
  }
}
